body {
	font-family: sans-serif;
	background-color: rgba(250, 250, 250, 1);
	margin: 0;
}

.container {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

h1 {
	margin: 0;
	text-rendering: optimizeLegibility;
}

#name {
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	letter-spacing: .5em;
	padding: 2em 0em;

}

.fa-5x {
	font-size: 12em;
}


#light {
	font-weight: lighter;
}


footer {
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

p {
	font-size: 1.5em;
	text-rendering: optimizeLegibility;
}

#social {
	float: right;
}

section {
	width: 100%;
	text-align: center;
	padding: 10em 0em;
	position: relative;
}