body {

}

.logo {
	position: absolute;
	top:0;
	left:0;
}

header {
	width: 50%;
	background-color: #fff;
	height: 110px;
	position: relative;
}

h1 {
	color: maroon;
}

address {
	float:right;
	margin:0;
}

address :last-child {
	text-align: right;
	margin:0;
	padding-bottom: 50px;
}