body {
	background-color: #f1f1f1;
}

.container {
	margin: 0 auto;
	width: 80vw;
	background-color: #fff;
	border: 2px solid #000;
}

header {
	width: 80vw;
	/*background-color: maroon;*/
	background: linear-gradient(to right,  #37508C 0%, #f4f4f4 66%, #f4f4f4 26%, #37508C 100%);
	color: #fff;
	height: 150px;
	position: relative;
}

.logo {
	position: relative;
	top: 25px;
	left: 35px;
	font-family: 'Lobster', cursive;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	font-size: 45px;
	float: left;
	font-weight: 50;
}

h3 {
	margin: 0;
	position: relative;
	top: 85px;
	left: 35px;
	font-family: serif;
	font-size: 25px;
	color: #000C14;
}

nav {
	background-color: #353839;
	/*height: 50px;*/
	position: relative;
}

nav ul {
	margin: 0;
	padding: 0px 0px;
	text-align: center;
}

nav ul li{
	display: inline-block;
	list-style-type: none; 
	color: #fff;
	padding: 10px 65px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	border-right: 2px solid #fff;
	height: 25px;
}

nav ul li:last-child {
	border-right: none;
}

nav ul li a {
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover {
	text-shadow: 4px 4px 4px #000;
}

article {
	position: relative;
	margin-right: 350px
}

article h1 {
	font-family: sans-serif;
	padding-left: 40px;
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 35px;

}

article p {
	padding-left: 40px;
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 16px;
}

img {
	float: left;
	margin-right: 40px;
	margin-bottom: 25px; 
	/*clear: right;*/
}

aside {
	position: relative;
	float: right;
	width: 200px;
	height: 500px;
	margin: 10px 40px;
	clear: both;
}

aside h2 {
	font-family: sans-serif;
	color: #9090BD;
}

aside ul {
	padding-left: 26px;
}

aside ul li {
	margin-bottom: 10px;
	font-family: sans-serif;
	font-weight: bold;
}

aside ul li a {
	cursor: pointer;
	color: #113099;
}

footer {
	width: 80vw;
	height: 50px;
	background: linear-gradient(to right,  #37508C 0%, #f4f4f4 66%, #f4f4f4 26%, #37508C 100%);
}

footer p {
	padding: 15px 25px;
	font-family: sans-serif;
	color: #fff;
}

 span {
	font-family: sans-serif;
	color: #000C14;
	font-weight: bold;
}

